.custom-table {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(87, 4, 4, 0.1);
    border-color:black;
}

.custom-table th,
.custom-table td {
    padding: 10px;
}

.custom-table th {
    font-weight: bold;
    text-align: center;
    background-color: black;
}

.custom-table td {
    text-align: center;
}

.custom-table tbody tr:hover {
    background-color: white;
}